<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:c="http://www.springframework.org/schema/c"
    xmlns:util="http://www.springframework.org/schema/util"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    https://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    https://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/beans 
    https://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/util 
    https://www.springframework.org/schema/util/spring-util.xsd">

	<context:annotation-config />
	
	<!-- Adress bean for reference -->
	<bean class="com.inexture.springExa.Address" id="address" 
		c:home="123"
		c:city="Ahmedabad"/>
	
	<bean class="com.inexture.springExa.Address" id="address2" 
		c:home="456"
		c:city="Ahmedabad"/>
	
	<!-- Standalone collection -->
	<util:list list-class="java.util.Vector" id="subjectlist">
		<value>Physics</value>
		<value>Chemistry</value>
		<value>Maths</value>
	</util:list>
	
	<!-- DI as tag -->
	<bean class="com.inexture.springExa.Student" id="student1" scope="singleton">
		<property name="id">
			<value>1</value>
		</property>
		<property name="name">
			<value>Yash</value>
		</property>
		
		<property name="subject" ref="subjectlist" />
		
		<property name="marks">
			<set>
				<value>10</value>
				<value>20</value>
				<value>30</value>
			</set>
		</property>
		<property name="answer">
			<map>
				<entry key="first" value="10"/>
				<entry key="second" value="20"/>
				<entry key="third" value="30"/>
			</map>
		</property>
		<!-- <property name="address" ref="address" /> -->
	</bean>

	<!-- DI as attribute -->
	<bean class="com.inexture.springExa.Student" id="student2" parent="student1">
		<property name="id" value="2"></property>
		<property name="name" value="ABC"></property>
		<!-- <property name="subject" value="Physics,Chemistry,Maths"></property> -->
	</bean>
	
	<!-- DI as p namespace -->
	<bean class="com.inexture.springExa.Student" id="student3" 
		p:id="3"
		p:name="DEF"/>
		<!-- autowire="byName" /> -->
		<!-- p:subject="Physics,Chemistry,Maths"/> -->
	
	<!-- DI through constructor -->
	<bean class="com.inexture.springExa.Student" id="student4" >
		<!-- c:id="4"
		c:name="XYZ"
		c:address-ref="address" p:subject-ref="address">  -->
		
		<constructor-arg name="id" value="4" />
		<constructor-arg name="name" value="XYZ" />
		<constructor-arg name="subject">
			<list>
				<value>Physics</value>
				<value>Chemistry</value>
				<value>Maths</value>
			</list>
		</constructor-arg>
		<constructor-arg name="marks">
			<set>
				<value>10</value>
				<value>20</value>
				<value>30</value>
			</set>
		</constructor-arg>
		<constructor-arg name="answer">
			<map>
				<entry key="first" value="10"/>
				<entry key="second" value="20"/>
				<entry key="third" value="30"/>
			</map>
		</constructor-arg>
		<constructor-arg name="address" ref="address" />
		
	</bean>
	
	
</beans>